.cell {
    position: relative;
    flex: 1 1 auto;
    border: 2px solid var(--border-color);
}

.cellEmpty {
    background-color: #eee;
    border-color: #fff;
}

.cellBlock {
    border-radius: 4px;
    border-color: var(--cell-color);

    color: var(--text-color);
    background-color: var(--cell-color);
    background-image: linear-gradient(315deg, #00000080 0%, #FFFFFF30 80%);
    filter: drop-shadow(2px 2px 2px #888);

    overflow: hidden;

    --color-I: #51EFF5;
    --color-L: #F59051;
    --color-J: #5588FA;
    --color-T: #B951F5;
    --color-Z: #FA559A;
    --color-S: #55FA5C;
    --color-O: #FACA56;

    &.cellTypeL{
        --cell-color: var(--color-L);
        --text-color: var(--color-I);
    }

    &.cellTypeJ {
        --cell-color: var(--color-J);
        --text-color: var(--color-L);
    }

    &.cellTypeI {
        --cell-color: var(--color-I);
        --text-color: var(--color-Z);
    }

    &.cellTypeT {
        --cell-color: var(--color-T);
        --text-color: var(--color-O);
    }

    &.cellTypeZ {
        --cell-color: var(--color-Z);
        --text-color: var(--color-S);
    }

    &.cellTypeS {
        --cell-color: var(--color-S);
        --text-color: var(--color-T);
    }

    &.cellTypeO {
        --cell-color: var(--color-O);
        --text-color: var(--color-J);
    }

    &.cellShadow {
        background-color: #eee;
        border-color: #fff;
    }
}

.symbol {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    /*font-size: 24px;*/
}
