.containerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    &.hAlignStart {
        justify-content: flex-start;
    }

    &.hAlignEnd {
        justify-content: flex-end;
    }

    &.vAlignStart {
        align-items: flex-start;
    }

    &.vAlignEnd {
        align-items: flex-end;
    }
}

.container {
    width: 100%;
    height: 100%;
}
