.table {
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex: 1 1 auto;
}

.cell {
    flex: 1 1 auto;

    border: 1px solid var(--cell-color);
    background-color: var(--cell-color);
    background-image: linear-gradient(90deg, #00000000 0%, #FFFFFF30 100%);
    filter: drop-shadow(2px 2px 2px #888);
}

.cellType0 {
    --cell-color: #eee;
    border-color: #fff;
    filter: none;
}

.cellType1 {
    --cell-color: #F0C146;
}

.cellType2 {
    --cell-color: #578AD2;
}

.cellType3 {
    --cell-color: silver;
}

.cellType4 {
    --cell-color: #0E7C7B;
}

.cellType5 {
    --cell-color: #F8BEBE;
}

.cellType6 {
    --cell-color: #28B6EB;
}

.cellType7 {
    --cell-color: #DF564D;
}
